@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/inter/Inter-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/inter/Inter-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

