// @import 'fonts.scss';
@import 'global.scss';
@import 'vars.scss';
@import 'fonts';
@import 'reset.scss';
.main {
    background: $gradient1;
    &__game{
        margin: 0 auto;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.noscroll{
    overflow: hidden;
}

.nav{
    background-color: $color1;
    display: none;
    &__items{
        display: flex;
        gap: 32px;
        
        
    }
    &__con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 116px;
        padding: 24px !important;
        
    }
    &__link{
        @include navLink();
        &:hover{
            opacity: .7;
        }
        &--donate{
            color: $color7;
        }
    }
}
        
        
    
.header-nav{
    background-color: $color2;
    &__con {
        text-align: end;
        padding: 8px;
    }
    &__icon {
        cursor: pointer;
        fill: white;
    }
    &__overlay {
        position: absolute;
        background:$gradient1;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        z-index: 3;
        gap: 40px;
        overflow: hidden;
        display: none;
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color8;
        opacity: .5;
    }
        
    &__donate{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color7;
        text-decoration: none;
        
    }
    &__overlay--show{
        display: flex;
    }
    &__items{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 20px;

    }
    &__link{
        @include navLink();
    }
    &__item{
        font-size: 32px;
        text-align: center;
        cursor: pointer;
    }
    &__line{
        width: 50px;
        background-color: $color8;
    }
}
.header{
    padding: 16px;
    height: 640px;
    background: no-repeat url('../images/bg/bg01.jpg');
    background-size: cover;
    // background-origin: content-box;
    // background-image: url('../images/bg/bg01.jpg');
    // background-position: -45% 0;
    
    
    &__nav{
        height: 48px;
        background-color: $color2;
        display: flex;
        justify-content: flex-end;
        padding: 0 16px;
    }
        
    &__bg{
        
    }
    &__icon{
        fill: white;
    }
    &__textBox{
        padding: 24px 16px;
        border-radius: 20px;
        background-color: $color1;
    }
    &__title{
        font-size: 37px;
        font-weight: 700;
        margin: 0;
        line-height: 110%;
        text-transform: uppercase;
        color: $color8;
        text-shadow: 0px 2.65137px 2.65137px rgba(0, 0, 0, 0.39);
        margin-bottom: 16px;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 26px;
        line-height: 98.52%;
        text-transform: uppercase;
        color: $color8;
    }
    &__con{
        display: flex;
        height: 100%;
        align-items: center;
    }
}


.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px;
    position: relative;
    max-width: 1100px;
    font-family: 'Inter';
    padding-top: 40px;
    background-color: $color8;
    padding: 40px 16px;

    &__title{
        grid-column: 1/3;
        font-size: 40px;
        margin: 0;
        margin-bottom: 32px;
        color: $color1;
    }
    &__task{
        grid-column: 1/3;
        background-color: #FCF700;
        // height: 214px;
        padding: 24px;
        border-radius: 24px;
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 40px;
        color: $color2;

    }
    &__boxTitle{
        font-size: 20px; 
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 50px;
        &--color1{
            color: $color6;
        }
        &--color2{
            color: $color5;
        }
    }
    &__modal{
        position: fixed;
        background-color: rgb(0, 0, 0,0.4);
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        
    }
    &__modal--show{
        display: block;
    }
    
    &__modalContant{
        width: 70vw;
        top: 30vh;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        display: flex; 
        background-color: $color1;
        justify-content: center;
        align-items: center;
        padding: 40px 24px;
        font-weight: 700;
        box-shadow: 0px 5px 11px 6px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        color: $color8;
    }

    &__modalText{
        margin: 0 auto;
        font-size: 20px;
        text-transform: uppercase;
        background-color:$color1;
        text-align: center;
    }   


    &__modalCloseIcon{
        cursor: pointer;
        float: right;
        padding: 4px;
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 2;
        // fill: rgb(255, 255, 255,0.4);
        // fill: rgb(255, 255, 255, 0.4);
        
    }
 
        
    &__fruits{
        @include frutAndVeg();
        border-color:$color6;
    }

 

    &__vegetables{
        @include frutAndVeg();
        border-color:$color5;
    }
        
    &__images{
        display: grid;
        grid-template-columns: repeat(3,1fr);

        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        
        justify-content: center;
        align-content: center;

        grid-template-rows: auto auto;
        gap: 16px;
        border: 4px solid $color1; 
        border-radius: 40px;
        grid-column: 1/3;
        
        padding:40px 16px;
        
    }
    &__imgBox{
        &--position{
            position:absolute;
        } 
        background: none;
    }
    &__img{
        width:100%;
        background: inherit;
    }
    &__glow{
        box-shadow: inset 0px 4px 30px -9px $color7;
    }
    &__btn{
        margin-top: 16px;
        cursor: pointer;
        &--l{
            color: $color8;
        }
        &--r{
            color: $color3;
        }
    }
}

.game2 {
    grid-template-columns: 1fr;
    display: grid;
    gap: 0;
    grid-column-gap:0;
    &__con{
       display: flex;
       flex-direction: column;
    //    justify-self: center;
       gap: 32px;
    }
    &__answer{
        padding: 16px;
        text-align: center;
        font-size: 80px;
        color: $color1;
        font-weight: bold;
        width: 100%;
        background: none;
        border-radius: 40px;
        border: 4px solid $color1;

    }
    &__box{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 1fr;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 24px;
        width: 100%;
        border-radius: 40px;
        border: 4px solid $color5;


    }
    &__modalContant{
        background-color: white;
        box-shadow: none;
    }
    &__resultIcons{
        width: 150px;
        // box-shadow: 0px 5px 11px 6px rgba(0, 0, 0, 1);
    }
    &__btn{
        margin-top: 0;
        cursor: pointer;
    }
    &__operations{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:32px;
    }
    &__mathSimvols{
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    &__simvolMinus{
        background-image: url(../images/icons/minus.svg);
    }
    &__simvolPlus{
        background-image: url(../images/icons/plus.svg);
    }
    &__boxLeft{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap:8px;
    }
        

    &__boxRight{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap:8px;
    }
}

.imgApple{
    width: 70px;
}      
        
.message{
    position: fixed;
    background-color: rgb(0, 0, 0,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &--show{
        visibility:visible;
    }
        
    &__box{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        background-color: white;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        border: 4px solid green;
        box-shadow: 0px 5px 11px 6px rgba(0, 0, 0, 0.25);
        margin-bottom: 124px;
        opacity: 0;

        transition-property: opacity, transform;
        transition-duration: .6s;
        transform: scale(0);
        transition-timing-function: cubic-bezier(.17,.67,0,1.13);

        &--animationStart{
            opacity: 1;
            transition-duration: 1.4s;
            transform: scale(1);
            
        }
    }


      
    // &__animation{
    //     animation-name: animationOpacity2;
    //     animation-duration: .7s;
    //     animation-timing-function: cubic-bezier(0,1.51,.58,1.27) ;
    //     animation-iteration-count: 1;
    //     animation-play-state: running;
    //     opacity: 1;
    // }

    
    
    &__box--reject{
        border-color: $color6;
        background-image: url("../images/icons/cancel.svg");
    }
       
        
    &__box--approved{
        border-color: $color5;
        background-image: url("../images/icons/done.svg");
    }
}

.footer {
    background-color: $color2;
    width: 100%;
    height: 164px;
    display: flex;
    justify-content: center;
    &__textBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color8;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        opacity: .6;
        gap: 4px;
    }
    &__autor{
        text-decoration: none;
        font-size: 20px;
        color: $color8;
    }
    &__copy{
        font-size: 16px;
        color: $color8;
    }

}


@media (min-width: 767px){
    .nav {
        display: block;
        &__con{

        }
    }
    .header-nav{
        display: none;
    }
    .container{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
    }

    .header {
        height: 100vh;
        justify-content: flex-start;
        justify-items: flex-start;
        &__textBox{
            width: 763px;
            padding: 56px;
            margin-top: 0;
          

        }
        &__title{
            font-size: 85px;
        }
        &__con{
            display: flex;
            height: 100%;

            align-items: center;
        }
        &__subtitle{
            font-size: 62px;
        }
    }

    .main{
        &__game{
            margin: 56px auto 96px;
        }
    }

    .game{
        padding:  80px ;
        border-radius: 47px;
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.25);
        gap: 40px;
        &__images{
            
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat (1fr 1fr);
            justify-items: center;
        }
        &__btn{
            margin-top: 72px;
        }
        &__boxTitle{
            font-size: 40px;
        }
        &__task{
            padding: 48px;
        }
        &__modalContant{
            max-width: 500px;
        }
        &__title{
            font-size: 65px;
        }
    }
    .game2{
        grid-column-gap:0;
        &__answer{
            padding: 32px;
        }
        &__box{
            padding-left: 160px;
            padding-right: 160px;
        }
        &__operations{
            display: grid;
            padding: 24px 24px;
            grid-template-columns: 1fr .3fr 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
        }
        &__btn{
            width: 40%;
            align-self: flex-end;
        }
    }
    .imgApple{
        width: auto;
    }  
            
}


      