// Colors
$color1: #6120C9;
$color2: #6120C9;
$color3: #00BBFE;
$color5: #6BB013;
$color6: #FF7A00;
$color7: #FCF700;
$color8: #EEFCFF;

$gradient1: linear-gradient(0deg, #6120C9 0%, #00BBFF 100%);

@mixin gradient() {}

@mixin navLink() {
    color: $color8;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}



@mixin frutAndVeg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 200px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: start;
    padding: 8px;
    gap: 8px;
    border-radius: 33px;
    border: 6px solid;
    margin-top: 16px;

}